<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <title>this is<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>

    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <p><%- content %></p>
        <form action="/hello/edit" method="post">
            <input type="hidden" name="id" value="<%= user.id%>">
            <table>
                <tr>
                    <th>E-Mail</th>
                    <td><input type="text" name="mail" value="<%= user.mail %>"></td>
                </tr>
                <tr>
                    <th>Language</th>
                    <td><input type="text" name="language" value="<%= user.language %>"></td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td><input type="text" name="country" value="<%= user.country %>"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input type="text" name="address" value="<%= user.address %>"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="更新"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>