<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <table><%=for(var i in content){ %>
            <tr>
                <% var obj=content[i];%>
                <th><%=obj.id%></th>
                <th><%=obj.name%></th>
                <th><%=obj.mail%></th>
                <th><%=obj.age%></th>

            </tr>
        </table>
    </div>
</body>

</html>