<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <table>
            <% for (var i in content) {%>
            <tr>
                <% var obj=content[i];%>
                <th><%=obj.id%></th>
                <th><%=obj.event%></th>
                <th><%=obj.date%></th>
                <th><%=obj.month%></th>
                <th><%=obj.location%></th>
                <th><%=obj.detail%></th>
            </tr>
            <%}%>
        </table>
    </div>



</body>

</html>